*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
  }
.navbar-nav {
    margin-left: auto;
    padding:10px;
    }
.hero-image {
    background-color: #000000;
    background-image:url('random.jpg');
    /* Set a specific height */
    height: 75%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: seagreen;
    }
.hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: seagreen;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
    }
      
.hero-text button:hover {
        background-color: #555;
        color: white;
    }

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2{
    color: seagreen;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background-color: seagreen;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
}

footer 
    {
        position: relative;
        bottom: 0;
        width: 100%;
    }
