*{
    box-sizing: border-box;
}

.card-body{
    
    

    position: absolute;
    right: 100px;
    width: 500px;
    height: 100px;
    

}

.about{
    
    margin-left: 550px;
    font-size: 1.2em;
    font-style: italic;
    font-family: cursive;
 }

.abouttext{
    margin-left: 540px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutus{
    
    position: absolute;
    right: 100px;
    width: 500px;
    height: 100px;
}

.backgroundImage{
    height: 100px;
    width: 500px;
    
}

.card-img-overlay{

    text-align: start;
    font-style: italic;
    text-align: left;
}
.images{

    
    position: absolute;
   
    width: 600px;
    height: 100px;
    
   


}

.whyus{

    text-align: center;
}

     
.image{

    
    position: absolute;
    color: seagreen;
    right: 350px;
    width: 100px;
    height: 60px;
    
    text-align: center;


}


.text{

    text-align: center;
}


.why-us h2 {
    position: relative;
    margin-bottom: 35px;
}
.why-us h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #cdcd4b;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0 auto;
}

.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgb(35, 34, 34);
    transition: 0.5s;
    position: relative;
    background-color:  seagreen;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}
.why-us .box:hover {
	padding: 30px 30px 70px 30px;
	box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
	background-color: rgba(0, 0, 0, 0.3);
}
.why-us .box img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	opacity: 0;
	transition:all ease 1s; 
}
.why-us .box:hover img {
	opacity: 1;
}
.why-us .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color:rgb(220, 222, 221);
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}
.why-us .box h4 a {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	margin: 20px 0;
	color: #171515;
	text-decoration: none;
}
.why-us .box p {
	color: #1a1818;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
  	color: #fff;
}







*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
}

.navbar-nav {
  margin-left: auto;
  padding:10px;
  }
.hero-image {
  background-color: seagreen;
  /* Set a specific height */
  height: 75%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
.hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 99px;
      color: seagreen;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
      position: absolute;
  }
    
.hero-text button:hover {
      background-color: #555;
      color: white;
  }

.contactUs{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2{
  color: seagreen;
  font-weight: 500;
}

.form{
  grid-area: form;
}

.info{
  grid-area: info;
}

.map{
  grid-area: map;
}
.contact{
  padding: 40px;
  background-color: seagreen;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3{
   color: white;
   font-weight: 500;
   font-size: 1.4em;
}

/*form*/
.formBox {
  position: relative;
  width: 100%;
}
.formBox .row50
{
  display: flex;
  gap: 20px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
  
}
.formBox .row100 .inputBox{
  width:100%;
}
.inputBox span {
  color: seagreen;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border:1px solid #333
}

.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border:1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"]
{
  background: seagreen;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor:pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder{
  color: #999;
}

/*info*/
.info{
  background: seagreen;
}

.info h3{
  color: #fff;
}

.info .infoBox div{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span{
  min-width: 40px;
  height:40px;
  color: black;
  background: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5 em;
  border-radius:50%;
  margin-right:15px;
}

.info .infoBox div p{
  color:#fff;
}

.info .infoBox div a{
  color:#fff;
  text-decoration:none;
}

.sci{
  margin-top:40px;
  display: flex;
}

.sci li{
  list-style:none;
  margin-right:15px;
}

.sci li a{
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover{
  color:#fff;
}

.map{
  padding:0;
}

.map iframe{
  width: 100%;
  height: 100%;
}

/*responsive design*/
@media (max-width: 991px)
{
  body
  {
      background: #fff;
  }
  .contactUs{
      padding:20px;
  }
  .box{
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "form"
      "info"
      "map";
  }
  .map{
      min-height: 300px;
  }
  .formBox.row50{
      display: flex;
      gap: 0;
      flex-direction: column;
  }
  .inputBox {
      width: 100%;
  }
  .contact{
      padding: 30px;
  }
  .map{
      min-height: 300px;
      padding: 0;
  }
}

footer 
  {
      position: relative;
      bottom: 0;
      width: 100%;
  }


